
/*afterService style*/
.item-title-text {
    color: #666666;
}

.small-description-text {
    color: #999999;
    font-size: 12px;
}

.after-service-request-div {
    width: 60%;
    margin: 20px auto;
}

.after-service-request-title,.after-service-change-title {
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.after-service-request-order-item-info {
    width: 100%;
}

.after-service-request-order-item-info-table {
    width: 100%;
    border: 2px solid #E8E8E8;
    font-size: 14px;
}

.after-service-request-order-item-info-table:hover {
    border: 2px solid #aaa!important;
}

.after-service-request-order-item-info-table td {
    text-align: center;
    height: 30px;
}

.after-service-request-order-item-info-title {
    background-color: #F5F5F5;
}

.after-service-request-order-item-info-body td {
     border-left: 1px solid #F1F1F1;
     height: 60px;
}

.after-service-change-div {
    width: 60%;
    margin: 100px auto;
}

.after-service-request-form {
    width: 100%;
    margin-top: 150px;
    border: 1px solid #C60000;
    padding-left: 50px;
}

.after-service-request-type-div,.after-service-change-type-div{
    margin-top: 20px;
}

.after-service-request-type-div div{
    float: left;
}

.after-service-change-type-div div{
    float: left;
}

.after-service-request-type-text,.after-service-change-type-text {
    padding: 10px 0;
    margin-left: 5px;
}

.after-service-request-text-star,.after-service-change-text-star {
    color: #FF0000;
}

.after-service-request-type-select,.after-service-change-type-select {
    border: 2px solid #E1E1E1;
    padding: 7px 40px;
    margin: 0px 10px;
    cursor: default;
}

.after-service-request-type-select:hover{
    border: 2px solid #ff0000;
}

.after-service-change-type-select:hover{
    border: 2px solid #ff0000;
}

.after-service-request-type-selected,.after-service-change-type-selected {
    border: 2px solid #FF0000!important;
}

.after-service-request-num-div,.after-service-change-num-div {
    margin-top: 30px;
}

.after-service-request-num-text,.after-service-change-num-text {
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
}

.after-service-request-num-ops,.after-service-change-num-ops {
    display: inline-block;
    margin-right: 10px;
}

.after-service-request-num-add,.after-service-request-num-minus,.after-service-change-num-add,.after-service-change-num-minus {
    border: 1px solid #E1E1E1;
    padding: 5px 10px;
    cursor: default;
    font-size: 8px;
}

.after-service-request-num-input,.after-service-change-num-input {
    width: 45px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.after-service-request-reason-div,.after-service-change-reason-div {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.after-service-request-reason-text,.after-service-change-reason-text {
    display: inline-block;
    margin-right: 15px;
    margin-left: 5px;
}

.after-service-request-picture-div,.after-service-change-picture-div {
    margin-top: 50px;
}

.after-service-request-picture-text,.after-service-change-picture-text {
    display: inline-block;
    margin-right: 15px;
    margin-left: 5px;
}

.after-service-request-picture-div,.after-service-change-picture-div {
    display: flex;
    align-items: flex-start;
}

.after-service-request-picture-choise,.after-service-change-picture-choise {
    display: inline-block;
}

.after-service-request-picture-choise input {
    margin-bottom: 10px;
}

.after-service-change-picture-choise input {
    margin-bottom: 10px;
}

.after-service-request-submit,.after-service-change-submit {
    width: 80px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 30px;
}

.after-service-state-div {
    width: 40%;
    margin: 100px auto;
}

.after-service-state-title {
    font-size: 20px;
    font-weight: bold;
    color: #999999;
}

.after-service-state-info {
    margin-top: 50px;
}

.after-service-state-text {
    margin-top: 15px;
}

.after-service-state-reason-content {
    margin-top:10px;
    margin-bottom: 20px;
}

.after-service-state-ops {
    width: 200px;
    margin: 50px auto;
}

.alert-success {
    width: 50%;
    height: 100px;
    margin: 300px auto;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
}

/*order style*/
div.boughtDiv {
    max-width: 1013px;
    margin: 10px auto;
}

div.orderType div.selectedOrderType {
    border-bottom: 2px solid #C40000;
}

div.orderType div {
    border-bottom: 2px solid #E8E8E8;
    float: left;
}

table.orderListTitleTable {
    border: 1px solid #E8E8E8;
    width: 100%;
    margin: 20px 0px;
    background-color: #F5F5F5;
    text-align: center;
}

table.orderListTitleTable td {
    padding: 12px 0px;
}

div.orderType a {
    border-right: 1px solid #E8E8E8;
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    padding: 0px 20px;
    text-decoration: none;
}

div.orderType div.selectedOrderType a {
    color: #C40000;
}

div.orderType a:hover {
    color: #C40000;
    text-decoration: none;
}

div.orderTypeLastOne {
    overflow: hidden;
    float: none !important;
    border-bottom: 2px solid #E8E8E8;
}

a.noRightborder {
    border-right-width: 0px !important;
}

table.orderListItemTable {
    border: 2px solid #ECECEC;
    width: 100%;
    margin: 20px 0px;
}

table.orderListItemTable:hover {
    border: 2px solid #aaa !important;
}

tr.orderListItemFirstTR {
    background-color: #F1F1F1;
    font-size:12px;
}

table.orderListItemTable td {
    padding: 8px 10px;
}

td.orderItemProductInfoPartTD {
    border-bottom: solid 1px #ECECEC;
}

td.orderItemOrderInfoPartTD {
    border: solid 1px #ECECEC;
}

div.orderListItemProductLinkOutDiv {
    height: 80px;
    font-size:13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderListItemTable td {
    text-align: center;
    vertical-align: middle;
}
